{% extends 'layout.html.twig' %}
{% block main %}
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci at delectus dolor dolore, doloremque eligendi incidunt laboriosam nam odio porro quis, rem reprehenderit soluta sunt tempore veritatis vero?</h1>
{% endblock %}